<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/lugares">PlatziSquare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/lugares">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      </li>
    </ul>

    <ul class="form-inline my-2 my-lg-0" *ngIf="!loggedIn">
      <li class="nav-item">
        <a href="" class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" routerLinkActive="active" routerLink="/registro">Registro</a>
      </li>
    </ul>

    <ul class="form-inline my-2 my-lg-0" *ngIf="loggedIn">
      <li class="nav-item">
        <a href="" class="nav-link">
          {{ loggedUser.email }}
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" routerLinkActive="active" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>
<!-- <div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <h2>
    {{a+b}}
  </h2>
  <img width="300" alt="Angular Logo" src="../assets/images/platzi.png">
  <hr />
  <button [disabled]="!listo" (click)="click()">
    {{count}}
  </button>
  <hr />
  <input type="text" placeholder="Tu nombre" [(ngModel)]="nombre" />
  <br />
  <input type="text" placeholder="Tu otro nombre" [(ngModel)]="nombre2" />
  <br />
  Mi nombre es {{nombre + ' ' + nombre2}}
</div> -->

<router-outlet></router-outlet>

<!-- <ul>
  <ng-container *ngFor="let persona of personas"> 
    <li *ngIf="mayorEdad(persona.edad)">
      {{persona.nombre}}
    </li>
  </ng-container>
</ul> -->