/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
/*
font-family: 'Roboto Condensed', sans-serif;
*/


html, body { height: 100%; }
body { font-family: 'Roboto Condensed', sans-serif; font-weight: lighter; }

agm-map {
  height: 300px;
}

a,
a:hover,
a:active,
a:link,
a:visited
{
	text-decoration: none;
}

.numero_par {
	background-color: aliceblue;
	color: blue;
}

.numero_par {
	background-color: aliceblue;
	color: blue;
}

#cuadrado {
	width: 200px;
	height: 200px;
	background-color: red;
}

.padding {
	padding: 10px;
	margin-bottom: 10px;
}

.inline {
	display: inline-block;
}

.material-icons.orange600 { color: #FB8C00; }