#registro {
	background-image: url(../../assets/images/angular.png);
	background-size: cover;
	/* 100% viewport height - navbar's height */
	height: calc(100vh - 56px)
}

* {
	color: whitesmoke;
}

.back {
	padding: 10px;
}

#lugares {
	font-weight: bold;
}

#lugares:hover {
	text-decoration: none;
}